Package: us.mxms.nopagelimits
Name: NoPageLimits
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Maximus
Author: Maximus
Section: Tweaks
